@model Dtos.Models.CreateCategoryDto
@{
    Layout = "_AdminLayout";
    var title = "Create Category";
}

<form method="post" action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row p-3 border">
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-4">
                    <label asp-for="CategoryDescription"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CategoryDescription" class="form-control" />
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class="col-8 offset-4">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

